<div class='box2'>
  <div class='box2left'>
    <div id="boxText2"><br />

      <span style="color: blue;" id="cho">
        초월</span><br />

      <span style="color: brown;" id="bul">
        불멸</span><br />

      <span style="color: rgb(249, 122, 249);"id="yong">
        영원</span><br />

      <span style="color: rgb(161, 85, 86);" id="jae">
        제한</span><br />

      <span style="color:red;" id="jun">
        전설</span><br />

      <span style="color:skyblue;" id="hidden">
        히든</span><br />

      <span style="color:pink;" id="byun">
        변이</span><br />

      <span style="color:purple;" id="hee">
        희귀</span><br />

      <span style="color:white;" id="rest">
        특별</span><br />


    </div>
  </div>
  <div class='box2right'>
    <span style="padding-left:0px;color:white;" id="arrange">
      <br />정리</span><br /><br />
      <button class="clipboard" data-clipboard-target="#arrange" > 복사 </button>
  </div>
</div>
