<div class='box1'>
  <!--<form action="/myform" method="GET">-->
    <div id="boxText">
      <fieldset>
          <legend>입력</legend>
          <textarea id="inputtext"></textarea>
      </fieldset>

    </div>

    <input type="button" id="hw" value="Hello world" onclick='input_Text()'/>
  <!--</form>-->


</div>
